/* Root Styles */
:root {
  --primary: #EFEDE4;
  --secondary: #ffffff;
  --header: #000000;
  --accent: #FF5733; /* Accent color for call-to-action buttons */
  --hover-accent: #C70039; /* Darker shade for hover effect */
}

/* Body */
body {
  font-family: "Open Sans", sans-serif;
  background-color: var(--primary);
  font-weight: 400;
  font-style: normal;
}

/* Header Color */
.header {
  background-color: var(--header);
}

/* Flex Column */
.flex-column {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

/* Fonts */
h1 { 
  color: var(--secondary);
}

/*paragraph resets*/
p {
  padding: 0;
  margin: 0;
}

/* Text Highlight with Underline */
.text-hightlight{
  color:#800000;
  text-decoration:underline;
  font-weight: 700;
}

/* Header Title and Line Style */
.component-title-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  box-sizing: border-box;
}

.component-title-wrapper h2 {
  margin: 0 1rem; /* Add space between lines and text */
}

/* Title Line spacer*/
.component-line {
  flex-grow: 1;
  height: 2px; /* Line height */
  background: var(--accent); /* Accent color for the line */
}

/* Navbar Logo positioning */
.flex-row {
  display: flex;
  justify-content: center;
  align-items: center;
}

.component-logo {
  background-color: var(--secondary);
  margin: 0 auto;
  text-align: center;
  flex: 0 0 auto;
}

/*logo image sizing*/
.component-logo img {
  max-width: 100%;
  height: auto;
  width: 200px; /* Adjust as necessary */
}

/* Desktop Navbar Menu */
.menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--header);
  width: 100%;
  height: 60px;
  padding: 0 15px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Add shadow for depth */
}

/*Divides Nav bar equally*/
.menu nav {
  flex: 1;
  display: flex;
  justify-content: flex-end;
  margin-right:30px;
}

.menu .nav {
  display: flex;
  list-style: none;
}

/*positions the menu on the flex-end*/
.menu .nav li {
  display: block;
  margin-left: 20px; 
}

.menu .nav li a {
  text-decoration: none;
  color: var(--secondary);
  font-weight: 500; 
  font-size: 16px;
  transition: color 0.3s ease; /* Smooth color transition on hover */
}

.menu .nav li a:hover {
  color: var(--accent); /* Accent color on hover */
}

/* Mobile Navbar */
.menu .nav .mobile-nav {
  display: block;
  margin-right: 30px; /* Margin for the mobile menu */
  z-index: 2000;
  font-size: 18px; /* Larger font size for better visibility */
}

/*Sliding panel displaying mobile navigation*/
.sliding-panel {
  position: fixed;
  top: 0;
  left: 100%;
  width: 100%;
  height: 100%;
  background: var(--header);
  display: flex;
  justify-content: center;
  align-items: center;
  transition: left 0.3s ease;
  z-index: 1000;
}

/*active state for sliding panel*/
.sliding-panel.active {
  left: 0;
}

.panel-nav {
  list-style: none;
  padding: 0;
  margin: 0;
  text-align: center;
}

.panel-nav li {
  display: block;
  margin: 20px 0;
}

.panel-nav a {
  text-decoration: none;
  color: var(--secondary);
  font-size: 24px;
  font-weight: 500; 
  transition: color 0.3s ease; /* Smooth color transition on hover */
}

.panel-nav a:hover {
  color: var(--accent); /* Accent color on hover */
}

/* Banner Button */
.banner-button {
  background-color: var(--accent);
  color: var(--secondary);
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  font-weight: 500; /* Bold text */
  border-radius: 5px; /* Rounded corners */
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.3s ease; /* Button Smooth transitions */
}

/*Button hover transform*/
.banner-button:hover {
  background-color: var(--hover-accent); /* Darker accent color on hover */
  transform: scale(1.05); /* Slight scaling effect */
}

/* Banner Component Styles */
.component-banner-container {
  width: 100%;
  height: 400px; /* Fixed height */
  overflow: hidden;
  position: relative; /* Ensures that absolutely positioned elements are relative to this container */
}

.component-banner-image {
  width: 100%;
  height: 100%;
  position: relative;
}

/*image cover for container*/
.banner-image {
  width: 100%;
  height: 100%;
  object-fit: cover; /* Ensures the image covers the entire container while maintaining its aspect ratio */
  display: block; /* Remove bottom space under image */
}

/*position and black overlay for image*/
.banner-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5); /* Black overlay with 50% opacity */
}

/*banner position for text and button*/
.banner-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  color: var(--secondary);
  z-index: 1; /* Ensure content is above the overlay */
}

.banner-text {
  margin-bottom: 20px;
}

/* Lightbox Component Styles */
.image-gallery {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
  gap: 3px;
}

.left-column, .right-column {
  display: flex;
  flex-direction: column;
}

.left-column a, .right-column a {
  position: relative; /* For positioning the overlay and text */
  margin-bottom: 5px;
  overflow: hidden; /* To clip the overlay */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Add shadow to images */
}

/* left column child padding reset*/ 
.left-column a:last-child, .right-column a:last-child {
  margin-bottom: 0;
}

.left-column img, .right-column img {
  max-width: 100%;
  height: auto;
  display: block;
  transition: transform 0.3s ease; /* Smooth scaling effect */
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5); /* Semi-transparent grey */
  color: var(--secondary);
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  transition: opacity 0.3s ease; /* Smooth fade-in effect */
  pointer-events: none; /* Allow clicking through the overlay */
}

a:hover img {
  transform: scale(1.05); /* Slightly scale up the image */
}

a:hover .overlay {
  opacity: 1;
  pointer-events: auto; /* Allow interactions with the overlay */
}


/*Footer item positioning*/ 
.footer-content {
  display: flex;
  justify-content: center; /* Center the entire content */
  align-items: center;
  width: 100%;
  gap: 20px; /* Add some gap between the sections */
  margin: 0 auto; /* Center the container horizontally */
  background-color: var(--header);
  color:var(--secondary);
}

.logo {
  flex: 1;
  display: flex;
  justify-content: center; /* Center the logo */
}

.logo img {
  max-width: 150px; /* Reduced the size of the logo */
  height: auto;
}

.contact-info {
  flex: 1;
  text-align: center; /* Center the contact info text */
}

.contact-info ul {
  list-style: none; /* Remove list dots */
  padding: 0;
  margin: 0;
  line-height: 1.5; /* Adjust line-height for better spacing */
}

.contact-info li {
  margin: 3px 0; /* Reduced spacing between list items */
}

/*social icons and validation spacing*/
.social-and-validator {
  flex: 1;
  text-align: center; /* Align text to center */
  display: flex;
  flex-direction: column;
  align-items: center; /* Center align items */
}

/*Social icons positioning*/
.social-media-icons {
  display: flex; /* Display icons in a row */
  justify-content: center; /* Center the icons */
  gap: 15px; /* Increased gap between icons */
  margin-bottom: 10px; /* Increased space between social icons and CSS validator */
}

/*social icon sizing*/
.social-media-icons img {
  width: 32px; /* Increased size of the social media icons */
  height: 32px;
}

/*Css-Validation styles*/
.css-validator {
  text-align: center; /* Center the CSS validator */
}

/*validation image sizing*/
.css-validator img {
  width: 88px;
  height: 31px;
}




/* Login Component Styles */
.login-container {
  display: flex;
  flex-direction: column; /* Arrange elements vertically */
  background-color: var(--header); /* Dark background for the form */
  padding: 2rem; /* Add padding around the form content */
  border-radius: 8px; /* Rounded corners for the form */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Shadow effect for the form */
  width: 100%;
  max-width: 600px; /* Set a maximum width for the form */
}

.login-heading {
  color: var(--secondary);
  text-align: center;
  margin-bottom: 1.5rem; /* Space below the heading */
  font-size: 2rem; /* Increase the font size */
}

.login-container label {
  color: var(--secondary);
  display: block;
  margin-bottom: 0.5rem;
}

.login-container input {
  width: 100%;
  padding: 0.75rem;
  margin-bottom: 1rem;
  border: 1px solid #ced4da;
  border-radius: 4px;
  box-sizing: border-box;
}

.login-container button {
  width: 100%;
  padding: 0.75rem;
  border: none;
  border-radius: 4px;
  background-color: var(--accent); /* Accent color for the button */
  color: var(--secondary);
  cursor: pointer;
  font-size: 1rem;
}

.login-container button:hover {
  background-color: var(--hover-accent); /* Darker accent on hover */
}

/* Admin Component Styles */
/* Table Styles */
#dataTable {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

/* Table Header Styles */
#dataTable thead {
  background-color: var(--header); /* Dark header background */
  color: var(--secondary); /* White text color */
}

#dataTable th {
  padding: 10px;
  text-align: left;
}

/* Row Styles */
#dataTable tbody tr:nth-child(even) {
  background-color: #d0e6f9; /* Light blue background for even rows */
}

#dataTable tbody tr:nth-child(odd) {
  background-color: #f9d0d0; /* Light red background for odd rows */
}

#dataTable td {
  padding: 10px;
  border-bottom: 1px solid #ddd; /* Light gray border for rows */
}

/* Filter Container Styles */
.filter-container {

}

/* Filter Row Styles */
.filter-row {
  display: flex;
}

.filter-row label {
  margin-right: 5px;
  white-space: nowrap; /* Prevent labels from wrapping */
}

.filter-row input {
  margin-right: 10px;
  padding: 5px;
  flex: 1; /* Allow inputs to grow and shrink */
  min-width: 150px; /* Minimum width for inputs */
}

/* Button Row Styles */
.button-row {
  display: flex;
  gap: 10px; /* Space between buttons */
  flex-wrap: wrap;
}

.button-row button {
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  flex: 1;
  min-width: 120px; /* Minimum width for buttons */
}

/* Filter Button Styles */
.button-row #filterButton {
  background-color: var(--header); /* Dark blue background for the Apply Filter button */
  color: var(--secondary); /* White text color */
}

.button-row #filterButton:hover {
  background-color: var(--hover-accent); /* Darker blue on hover */
}

/* Clear Button Styles */
.button-row #clearButton {
  background-color: #cccccc; /* Light gray background for the Clear Filters button */
  color: black; /* Black text color */
}

.button-row #clearButton:hover {
  background-color: #b3b3b3; /* Darker gray on hover */
}

/* Media Queries */

/* Tablet Landscape and Up (≥ 768px) */
@media (min-width: 768px) {
  .filter-row {
    flex-direction: row;
  }

  .button-row {
    flex-direction: row;
  }
}

/* Desktop and Up (≥ 1024px) */
@media (min-width: 1024px) {
  .filter-row {
    flex-direction: row;
  }

  .button-row {
    flex-direction: row;
  }
}

/* Mobile Portrait (≤ 767px) */
@media (max-width: 767px) {
  .component-title-wrapper h2 {
    font-size: 1.5em;
  }

  .filter-row {
    flex-direction: column;
  }

  .filter-row input {
    width: 100%; /* Full width inputs on mobile */
    margin-right: 0;
    margin-bottom: 10px;
  }

  .button-row {
    flex-direction: column;
    align-items: stretch;
  }

  .button-row button {
    width: 100%; /* Full width buttons on mobile */
    margin-bottom: 10px;
  }
}


/* Base Styles (default desktop layout) */
.image-gallery {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
  gap: 10px; /* Adjust the gap between columns as needed */
}

.left-column {
  width: 60%; /* Adjust as needed */
}

.right-column {
  width: 38%; /* Adjust as needed */
  display: flex;
  flex-direction: column;
  gap: 10px; /* Space between stacked images */
}

.left-column a, .right-column a {
  position: relative;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.left-column img, .right-column img {
  width: 100%;
  height: auto;
  display: block;
  transition: transform 0.3s ease;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  color: var(--secondary);
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  transition: opacity 0.3s ease;
  pointer-events: none;
}

a:hover img {
  transform: scale(1.05);
}

a:hover .overlay {
  opacity: 1;
  pointer-events: auto;
}


/* Mobile view adjustments (smartphones and below, 767px and below) */
@media (max-width: 767px) {
.menu .nav li {
  display: none; /* Hide the normal menu items */
}

  /* Shows mobile menu */
.menu .nav .mobile-nav {
  display: block; /* Show the mobile menu */
  font-size: 24px; /* Set font size to 16px */
  text-align: center; /* Center align the text */
  padding: 10px; /* Add padding around the text for better click area */
}
  
  /* Ensure the font size for the link inside mobile-nav is 16px */
.menu .nav .mobile-nav a {
  font-size: 24px; /* Set font size to 16px */
  text-decoration: none; /* Remove underline from link */
}

.image-gallery {
  flex-direction: column; /* Stack images vertically */
}
  
.left-column, .right-column {
  width: 100%;
  flex-direction: column;
}
  
.right-column {
  margin-top: 10px; /* Space between left and right columns */
}
  
.left-column a, .right-column a {
  margin-bottom: 10px; /* Space between images */
}

/* Stack image and text vertically on small screens */
.team-member-content { 
  flex-direction: column; 
}

/* Remove left margin for smaller screens */
.team-member-text {
    margin-left: 0; 
}

.modal-page{
  display: flex;
  flex-direction: column;
  align-items:center; /* Align items to the start of the container */
  gap: 5px; /* Space between image and text */
}

.modal-height {
    min-height: 430px; /* Adjust height as needed */
  }

}


/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
.menu .nav li {
  display: block;
  margin-left: 20px;
}

.menu .nav .mobile-nav {
  display: none;
}

.image-gallery {
  flex-direction: row;
}
  
.left-column {
  width: 60%;
}
  
.right-column {
  display: flex;
  flex-direction: column;
  width: 38%;
  gap: 5px;
  }
  
.right-column img {
  height: 100%;
}

/* Align image and text in a row for medium screens and up */
.team-member-content { 
  flex-direction: row; 
  align-items: flex-start;
}

/* Space between image and text */
.team-member-text {
  margin-left: 20px; 
}
}
