/*ROOT STYLES*/
:root{
    --primary:#EFEDE4;
    --secondary:#ffffff;
    --header:#000000;
}

body{
 font-family: "Roboto", sans-serif;
 background-color: var(--primary);
}

.header{
    background-color: var(--header);
}

/*FONTS*/
h1{
    font-family: "Roboto", sans-serif;
    font-style: normal;
    color: var(--secondary);
}

.roboto-thin {
  font-family: "Roboto", sans-serif;
  font-weight: 100;
  font-style: normal;
}

.roboto-light {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.roboto-regular {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.roboto-medium {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.roboto-bold {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.roboto-black {
  font-family: "Roboto", sans-serif;
  font-weight: 900;
  font-style: normal;
}

.roboto-thin-italic {
  font-family: "Roboto", sans-serif;
  font-weight: 100;
  font-style: italic;
}

.roboto-light-italic {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-style: italic;
}

.roboto-regular-italic {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: italic;
}

.roboto-medium-italic {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-style: italic;
}

.roboto-bold-italic {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-style: italic;
}

.roboto-black-italic {
  font-family: "Roboto", sans-serif;
  font-weight: 900;
  font-style: italic;
}

/*MEDIA QUERIES*/

/* Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) { ... }

/* Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) { 
    .menu .nav li {
        display: inline-block;
        margin: 0 15px;
      }
      
      .menu .mobile-nav {
        display: none;
      }
}

/* Large devices (desktops, 992px and up) */ 
@media (min-width: 992px) { ... }

/* X-Large devices (large desktops, 1200px and up)*/ 
@media (min-width: 1200px) { ... }

/* XX-Large devices (larger desktops, 1400px and up)*/ 
@media (min-width: 1400px) { ... }

