---
import Layout from '../layouts/Layout.astro';
import Admin from '../components/Admin.astro';
import FeedbackCarousel from '../components/FeedbackCarousel.astro';
---

<Layout title="Inspirado Marketing">
	<main>
		<Admin/>
	</main>
</Layout>