---
import Layout from '../layouts/Layout.astro';
import AdminComponent from '../components/Admin.astro';
---

<Layout title="Inspirado Marketing">
<main>
	<AdminComponent/> <!--Admin Page -->
</main>
</Layout>