---
import Layout from '../layouts/Layout.astro';

import Lightbox from '../components/Lightbox.astro';
---

<Layout title="Inspirado Marketing">
<main>

	<Lightbox/> <!--Success Stories Component -->
</main>
</Layout>