---
import Layout from '../layouts/Layout.astro';
import CompanyComponent from '../components/Company.astro';
import Success from '../components/Lightbox.astro';
---

<Layout title="Inspirado Marketing">
  <main>
    <CompanyComponent/> <!--Company Component -->
    <Success/> <!--Success Stories Component -->
  </main>
</Layout>

