---
import Layout from '../layouts/Layout.astro';
import Company from '../components/Company.astro';
import Lightbox from '../components/Lightbox.astro';
---

<Layout title="Inspirado Marketing">
	<main>
        <Company title="" id=""/>
		<Lightbox/>
	</main>
</Layout>