---
import Layout from '../layouts/Layout.astro';
import Banner from '../components/Banner.astro';
import Company from '../components/Company.astro';
import FeedbackCarousel from '../components/FeedbackCarousel.astro';
---

<Layout title="Inspirado Marketing">
	<main>
		<Banner imageURL="/images/marketing1.jpg"/>	
        <Company/>
        <FeedbackCarousel/>
	</main>
</Layout>