---
import Layout from '../layouts/Layout.astro';
import Banner from '../components/Banner.astro';
import Company from '../components/Company.astro';
import Business from '../components/Business.astro';
---

<Layout title="Inspirado Marketing">
	<main>
		<Banner imageURL="/images/marketing2.jpg"/>	
        <Company/>
		<Business/>
	</main>
</Layout>