---
import Layout from '../layouts/Layout.astro';
import Contact from '../components/Contact.astro';
 /*import Lightbox from '../components/Lightbox.astro';*/
---

<Layout title="Inspirado Marketing">
<main>
	<Contact/> <!--Contact Component -->
	<!-- <Lightbox/> Success Stories Component -->
</main>
</Layout>