---
import Layout from '../layouts/Layout.astro';
import Banner from '../components/Banner.astro';
import Contact from '../components/Contact.astro';
import FeedbackCarousel from '../components/FeedbackCarousel.astro';
---

<Layout title="Inspirado Marketing">
	<main>
		<Banner imageURL="/images/main-marketing.jpg"/>	
        <Contact/>
        <FeedbackCarousel/>
	</main>
</Layout>