---
import Layout from '../layouts/Layout.astro';
import ContactComponent from '../components/Contact.astro';
import Success from '../components/Lightbox.astro';
---

<Layout title="Inspirado Marketing">
<main>
	<ContactComponent/> <!--Contact Component -->
	<Success/> <!--Success Stories Component -->
</main>
</Layout>