---
import Layout from '../layouts/Layout.astro';
import Contact from '../components/Contact.astro';
import Business from '../components/Business.astro';
---

<Layout title="Inspirado Marketing">
	<main>
		<!--<Banner imageURL="/images/marketing2.jpg" title="" id=""/>	-->
        <Contact title="" id=""/>
		<Business title="" id=""/>
	</main>
</Layout>