---
import Layout from '../layouts/Layout.astro';
import GetStarted from '../components/GetStarted.astro';
import Lightbox from '../components/Lightbox.astro';
---

<Layout title="Inspirado Marketing">
<main>
    <GetStarted/> <!--GetStarted Form Component -->
    <Lightbox/> <!--Success Stories Component-->
</main>
</Layout/>