---
import Layout from '../layouts/Layout.astro';
import GetStarted from '../components/GetStarted.astro';
import Business from '../components/Business.astro';
---

<Layout title="Inspirado Marketing">
	<main>
	<!--<Banner imageURL="/images/marketing2.jpg" title="" id=""/>	-->
        <GetStarted title="" id=""/>
        <Business title="" id=""/>
	</main>
</Layout/>