---
import Layout from '../layouts/Layout.astro';
import DigitalMessage from '../components/DigitalMessage.astro';
import Form from '../components/Form.astro';
import Services from '../components/Services.astro';
import MarketingVideo from '../components/MarketingVideo.astro';
---

<Layout title="Inspirado Marketing">
	<main>	
		<DigitalMessage title="DigitalMessage" content="Marketing agency from Cork. We are the marketing partner of growing and established organisations across Ireland" id="digitalmessage"/>
		<Form title="Form" id="Form" content=""/>
		<Services title="Services" content="" id="Services"/>
		<MarketingVideo title="Marketing" id="Marketing"/>
	</main>
</Layout>
