---
import Layout from '../layouts/Layout.astro';
import Form from '../components/Form.astro';
import Services from '../components/Services.astro';
import MarketingVideo from '../components/MarketingVideo.astro';
import Lightbox from '../components/Lightbox.astro';
---

<Layout title="Inspirado Marketing">
	<main>	
		<Form title="form" id="form"/>
		<Services title="Services" id="Services"/>
		<MarketingVideo title="Marketing" id="Marketing"/> 
		<Lightbox/>
	</main>
</Layout>
