---
import Layout from '../layouts/Layout.astro';
import Form from '../components/Form.astro';
import Services from '../components/Services.astro';
import MarketingVideo from '../components/MarketingVideo.astro';
import Lightbox from '../components/Lightbox.astro';
---

<Layout title="Inspirado Marketing | Build & Engage">
<main>	
    <Form title="form" id="form"/> <!--Form Component -->
    <Services title="Services" id="Services"/> <!--Modal Component -->
    <MarketingVideo title="Marketing" id="Marketing"/> <!--Marketing Video Component -->
    <Lightbox/>  <!--Success Stories Component -->
</main>
</Layout>
