---
import Layout from '../layouts/Layout.astro';
import LogonComponent from '../components/Logon.astro';
---

<Layout title="Inspirado Marketing">
<main>	
    <LogonComponent/> <!--Logon Page -->
</main>
</Layout>
