---
import Layout from '../layouts/Layout.astro';
import Banner from '../components/Banner.astro';
import Clients from '../components/Clients.astro';
import FeedbackCarousel from '../components/FeedbackCarousel.astro';
---

<Layout title="Inspirado Marketing">
	<main>
		<Banner imageURL="/images/main-marketing.jpg"/>	
        <Clients/>
        <FeedbackCarousel/>
	</main>
</Layout>