---
import Layout from '../layouts/Layout.astro';
import Clients from '../components/Clients.astro';
import Business from '../components/Business.astro';
---

<Layout title="Inspirado Marketing">
	<main>
	<!--<Banner imageURL="/images/marketing2.jpg" title="" id=""/>	-->
        <Clients/>
        <Business/>
	</main>
</Layout>

