---
import Layout from '../layouts/Layout.astro';
import Clients from '../components/Clients.astro';
import Lightbox from '../components/Lightbox.astro';
---

<Layout title="Inspirado Marketing">
<main>
    <Clients/>
    <Lightbox/>
</main>
</Layout>

