---
const {imageURL} = Astro.props;
---

<div class="flex flex-column component-banner-container mb-3">
   <div class="component-banner-image">
    <img src={imageURL} alt="Banner Image" class="banner-image"/>
    <button type="button" class="">Click</button>
   </div>
</div> 

<style>

    .component-banner-container {
        width: 100%;
        height: 100%; /* Set height to the desired value or use a specific height, e.g., 300px */
        overflow: hidden;
        position: relative; /* Optional: Ensures that absolutely positioned elements are relative to this container */
    }

    .banner-image {
        width: 100%;
        height: 100%;
        object-fit: cover; /* Ensures the image covers the entire container while maintaining its aspect ratio */
        display: block; /* Remove bottom space under image */
    }


</style>
