---
import images from '../js/images.json'; // Import JSON data

const { imageIndex } = Astro.props; // Get the image index from props, which will decide which image to display
const selectedImage = images[imageIndex] || images[0]; // Default to the first image if no index is provided
---

<div class="flex-column component-business">
  <div class="component-business-image">
    <img src={selectedImage.src} alt={selectedImage.alt} class="banner-image"/>
  </div>
</div>


<style>
.component-business {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.component-business-image {
  margin: 10px 0;
}

.banner-image {
  width: 100%;
  max-width: 600px; /* Adjust as needed */
  height: auto;
  border-radius: 8px; /* Optional: add some border radius */
  box-shadow: 0 4px 8px rgba(0,0,0,0.2); /* Optional: add some shadow */
}

</style>