---
import images from '/public/js/services.json'; // Ensure this path is correct relative to the component's location
---

<div class="flex-column">
    <div class="title-wrapper">
        <div class="line"></div>
        <h2>Clients</h2>
        <div class="line"></div>
    </div>

<div class="component-services">
        <p><strong>PhysioCare</strong> was established in 2001 and has developed into an extensive team of health care providers across five clinic locations. Our team consists of a 
        strong mix of our highly experienced Chartered Physiotherapists, Personal Trainers, Class Instructors, Front-of-House and Admin teams. They work side by side to deliver the best quality of care and customer experience for you to ensure that your experience at PhysioCare is nothing but positive.</p>
        {images[0] && (
            <div class="component-business-image">
                <img src={images[0].src} alt={images[0].alt} class="banner-image" />
            </div>
        )}
</div>
   
<div class="component-services">
        <p><strong>Business Name</strong> Ipsum is simply dummy text of the printing and typesetting industry. 
           Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, 
           when an unknown printer took a galley of type and scrambled it to make a type specimen book.
           It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.</p>
           {images[1] && (
            <div class="component-business-image">
                <img src={images[1].src} alt={images[1].alt} class="banner-image" />
            </div>
        )}
</div>

</div>

<style>
    .component-services{  
        display:flex;
        flex-direction: column;
        align-items:center;
        justify-content: center;
    }

    .component-business-image {
        border: 1px solid red; /* Add border to see if the image container is present */
    }

    .banner-image {
        max-width: 100%; /* Ensure images fit within the container */
        height: auto; /* Maintain aspect ratio */
    }

    .title-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    box-sizing: border-box;
}

.title-wrapper h2 {
    margin: 0 1rem; /* Add some space between the lines and the text */
    word-wrap: break-word; /* Break words if necessary */
    word-break: break-word; /* Ensure long words break to fit container */
}

.line {
    flex-grow: 1;
    height: 2px; /* Line height */
    background: #1c4880; /* Dark blue color for the line */
}
</style>
