---
 import images from '../components/js/services.json'; 
---

<div class="flex-column">
  <div class="component-title-wrapper">
    <div class="component-line"></div>
      <h2>Clients</h2>
    <div class="component-line"></div>
  </div>

  <div class="component-services pb-2">
      <p>We're proud to support <a href ="https://physio.ie/"><span class="text-hightlight">PhysioCare</span></a> in its mission to provide top-quality care and outstanding customer experiences in 2024. Through our strategic community marketing approach, we help PhysioCare connect more deeply with its clients, fostering a strong sense of trust and loyalty. By amplifying PhysioCare's values and expertise, we ensure that more people can benefit from the exceptional care and services they offer.</p>
        {images[0] && (
          <div class="component-business-image">
            <img src={images[0].src} alt={images[0].alt} class="banner-image" />
          </div>
        )}
  </div>
   
  <div class="component-services">
      <p>We're excited to support <a href ="https://www.bdo.ie/en-gb/bdo-ireland"><span class="text-hightlight">BDO Ireland</span></a> in its mission to empower businesses with the strategic insights and financial guidance they need to thrive. Our community marketing expertise enhances BDO Ireland's outreach, connecting them more effectively with their target audience and fostering long-lasting client relationships. By amplifying BDO Ireland’s commitment to personalized service and business growth, we help them reach new heights of success and visibility.</p>
        {images[1] && (
          <div class="component-business-image">
            <img src={images[1].src} alt={images[1].alt} class="banner-image" />
          </div>
        )}
  </div>
</div>

<style>
/*CLIENT COMPONENT STYLES*/
.component-services{  
  display:flex;
  flex-direction: column;
  align-items:center;
  justify-content: center;
}
.component-business-image {
  padding:0px;
}
.banner-image {
  max-width: 100%; /* Ensure images fit within the container */
  height: auto; /* Maintain aspect ratio */
}

</style>
