---
const {imageURL} = Astro.props;
---

<div class="flex flex-column mb-3">
    <div class="">
    <h1>The is the company information</h1>
    <p>Marketing agency from Cork. We are the marketing
        partner of growing and establisghed blah blah blah blah
        blah blah blah blah blah blah blah blah
    </p>
    </div>
    <div class="component-team">
         <h2>The Team</h2>
         <div class="component-team-member">
            <img src = {imageURL} class="card-img">
            <div class="component-team-member-text">
            <p>Marketing agency from Cork. We are the marketing
               partner of growing and establisghed blah blah blah blah
               blah blah blah blah blah blah blah blah
           </p>
           </div>
        </div>

        <div class="component-team-member">
            <img src = {imageURL} class="card-img">
            <div class="component-team-member-text">
            <p>Marketing agency from Cork. We are the marketing
               partner of growing and establisghed blah blah blah blah
               blah blah blah blah blah blah blah blah
           </p>
           </div>
        </div>
    </div> 
</div>


