---
const {} = Astro.props;
import images from '/public/js/services.json'; 
---

<div class="flex-column mb-3">

    <div class="title-wrapper">
        <div class="line"></div>
        <h2>Contact Us</h2>
        <div class="line"></div>
    </div>

    <div class="component-contact">
        <p>At Inspirado Marketing, we pride ourselves on our dedicated and talented team. Each member brings a unique set of skills and a passion for innovation, driving our success and ensuring we deliver outstanding results for our clients.</p>
        
    
    
    
    </div>
    
<div class="component-address">
     <ul> 
        <li><u><strong>Contact Information</strong></u></li>
        <li>Maynooth</li>
        <li>Co Kildare</li>
        <li>W24 5677</li>
        <li>Ireland</li>
    </ul>
</div>
    
<div class="component-map">
    <div id="map">
        <script>
            const map = L.map('map').setView([53.38116, -6.59122],14); 
            //Maynooth Town
            L.marker([53.38116, -6.59122],{
                draggable:true,
                title: "Hover Text"
            }).addTo(map).bindPopup('<div style="text-align: center;>"<h3><strong>Inspirado Marketing</strong></h3><br/>Maynooth</br>Co Kildare</br>W24 5677</br>Ireland</div>');


            L.tileLayer('https://tile.openstreetmap.org/{z}/{x}/{y}.png', {
                attribution: ''
            }).addTo(map);
            
        </script>
        </div>
    </div>
   </div>
</div> 


<style>
    .component-map{
        width:100%;
        height:300px;
    }

    #map{
       width:100%;
       height:100%;
    }

    .title-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    box-sizing: border-box;
}

.title-wrapper h2 {
    margin: 0 1rem; /* Add some space between the lines and the text */
    word-wrap: break-word; /* Break words if necessary */
    word-break: break-word; /* Ensure long words break to fit container */
}

.line {
    flex-grow: 1;
    height: 2px; /* Line height */
    background: #1c4880; /* Dark blue color for the line */
}
.component-address{
    text-align: center;
}
.component-address ul {
    list-style-type: none; /* Remove the dots from the list */
    padding: 0; /* Remove default padding */
}

.component-address li {
    margin-bottom: 0.5rem; /* Optional: Add some space between list items */
}

/* Styles for map popup list */
.popup-address ul {
    list-style-type: none; /* Remove the dots from the list */
    padding: 0; /* Remove default padding */
}

.popup-address li {
    margin-bottom: 0.5rem; /* Optional: Add some space between list items */
}
</style>

