---
const {content} = Astro.props;
---

<div class="digital-message flex-column mb-3">
    <div class="pt-1 component-title"><h1>Digital Marketing Business</h1></div>
    <div class="pl-4 component-content">{content}</div>
    <h4></h4>
</div> 
