---
const {content} = Astro.props;
---

<div class="digital-message flex-column mb-3">
    <div class="pt-1 component-title">
        <div class="title-wrapper">
            <div class="line"></div>
            <h2>Digital Marketing Business</h2>
            <div class="line"></div>
        </div>
    </div>
    <div class="pl-4 component-content">{content}</div>
    
</div> 

<style>
.digital-message {
    display: flex;
    flex-direction: column;
    align-items: center; /* Center the content horizontally */
    margin-top: 2rem; /* Add some space from the top (optional) */
    margin-bottom: 2rem; /* Add some space from the bottom (optional) */
}

.title-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.title-wrapper h2 {
    margin: 0 1rem; /* Add some space between the lines and the text */
}

.line {
    flex-grow: 1;
    height: 2px; /* Line height */
    background: #1c4880; /* Dark blue color for the line */
}

.component-title {
    display: flex;
    justify-content: center;
    width: 100%;
}

.component-content {
    text-align: center;
}

/* Remove the line styling from h4 */
.digital-message h4 {
    text-align: center; /* Center the text */
    padding-bottom: 1rem; /* Add space at the bottom */
}

</style>
