---
const {} = Astro.props;
---

<div class="component-footer flex-column">
    <div class="logo-and-info">
        <div class="logo">
            <img src="images/inspirado-logo1.png" alt="Inspirado Logo">
        </div>
        <div class="contact-info">
            <ul> 
                <li>Maynooth</li>
                <li>Co Kildare</li>
                <li>W24 5677</li>
                <li>Ireland</li>
            </ul>
            <div class="social-media-icons pb-2">
                <a href="#"><img src="/public/images/Social/facebook.png" alt="Facebook"></a>
                <a href="#"><img src="/public/images/Social/instagram.png" alt="Instagram"></a>
                <a href="#"><img src="/public/images/Social/youtube.png" alt="YouTube"></a>
            </div>
        </div>
    </div>
</div>

<style>
.component-footer {
    background-color: black;
    color: white;
    text-align: center; /* Center text inside elements */
}

.logo-and-info {
    display: flex;
    flex-direction: column; /* Stack items vertically */
    justify-content: center;
    align-items: center;
    gap: 10px; /* Space between logo and contact info */
}

.component-footer div {
    margin: 0px 0; /* Space between items */
}

.component-footer ul {
    list-style: none; /* Remove bullet points */
    padding: 0;
    margin: 0;
}

.component-footer li {
    margin: 5px 0; /* Space between list items */
}

.logo img {
    width: auto;
    height: auto;
    max-width: 200px; /* Set a max width for the logo */
}

.contact-info {
    text-align: center; /* Center the contact info text */
    padding: 0;
    margin: 0;
}

.social-media-icons {
    display: flex; /* Display icons in a row */
    justify-content: center; /* Center the icons horizontally */
    gap: 10px; /* Space between icons */
    margin-top: 10px; /* Space between address and social icons */
}

.social-media-icons img {
    width: 24px; /* Set a width for the social media icons */
    height: 24px; /* Set a height for the social media icons */
}
</style>
