---
---
<div class="component-footer">
    <div class="footer-content">
        <div class="logo">
          <a href="/inspirado-marketing/index">
            <img src="/inspirado-marketing/images/inspirado-logo1.png" alt="Inspirado Logo">
          </a>
        </div>
        <div class="contact-info">
            <ul> 
                <li>Maynooth</li>
                <li>Co Kildare</li>
                <li>W24 5677</li>
                <li>Ireland</li>
            </ul>
        </div>
        <div class="social-and-validator">
            <div class="social-media-icons">
                <div class="facebook-icon" id="facebookShare"><img src="/inspirado-marketing/images/Social/facebook.png" alt="Facebook"></div> 
                <div class="twitter-icon" id="twitterShare"><img src="/inspirado-marketing/images/Social/twitter.png" alt="twitter"></div>
            </div>
            <div class="css-validator">
                <a href="http://jigsaw.w3.org/css-validator/check/referer" target="_blank">
                    <img style="border:0;width:88px;height:31px" src="http://jigsaw.w3.org/css-validator/images/vcss" alt="Valid CSS!" />
                </a>
            </div>
        </div>
    </div>
</div>

<script>
document.addEventListener('DOMContentLoaded', function() {
    const facebookShareButton = document.getElementById('facebookShare');
    const twitterShareButton = document.getElementById('twitterShare');

    if (facebookShareButton) {
      facebookShareButton.addEventListener('click', function() {
        const urlToShare = encodeURIComponent(window.location.href);
        const facebookShareUrl = `https://www.facebook.com/sharer/sharer.php?u=${urlToShare}`;
        window.open(facebookShareUrl, 'facebook-share-dialog', 'width=800,height=600');
      });
    }

    if (twitterShareButton) {
      twitterShareButton.addEventListener('click', function() {
        const urlToShare = encodeURIComponent(window.location.href);
        const textToShare = encodeURIComponent('Check out this awesome webpage: ');
        const twitterShareUrl = `https://twitter.com/intent/tweet?url=${urlToShare}&text=${textToShare}`;
        window.open(twitterShareUrl, 'twitter-share-dialog', 'width=800,height=600');
      });
    }
  });
  </script>