---
const {} = Astro.props;
---

<div class="component-footer flex-column mb-3">
    <div class="">
        LOGO
    </div>
    <div class="">
        	<ul> 
                <li>Contact Information</li>
                <li>Maynooth</li>
                <li>Co Kildare</li>
                <li>W24 5677</li>
                <li>Ireland</li>
            </ul>
    </div>
    <div class="" title="marketing" id="marketing">

    </div>
</div> 

<style>
    .component-footer{
        background-color: red;
    }
</style>