---
const { imageURL } = Astro.props;
---
<header class="flex-row">
  <div class="menu" id="menu">
    <div class="component-logo">
      <a href="index.html">
        <img src="images/inspirado-logo1.png" alt="Inspirado Logo">
      </a>
    </div>
    <nav>
      <ul class="nav">
        <li><a href="work.html">OUR WORK</a></li>
        <li><a href="company.html">COMPANY</a></li>
        <li><a href="contact.html">CONTACT US</a></li>
        <li><a href="getstarted.html">GET STARTED</a></li>
        <li class="mobile-nav"><a href="#">MENU</a></li>
      </ul>
    </nav>
  </div>

  <div class="sliding-panel" id="slidingPanel">
    <ul class="panel-nav">
      <li><a href="work.html">OUR WORK</a></li>
      <li><a href="company.html">COMPANY</a></li>
      <li><a href="contact.html">CONTACT US</a></li>
      <li><a href="getstarted.html">GET STARTED</a></li>
    </ul>
  </div>
</header>

<div class="flex-column component-banner-container mb-3">
  <div class="component-banner-image">
    <img src={imageURL} alt="Banner Image" class="banner-image" />
    <div class="banner-overlay"></div>
    <div class="banner-content">
      <div class="banner-text">
        <h1><strong>FIND YOUR COMMUNITY AND INCREASE YOUR SALES</strong></h1>
        <p>Helping brands gain competitive an edge within their communties</p>
      </div>
      <a href="getstarted.html"><button type="button" class="banner-button">Let's Get Started</button></a>
    </div>
  </div>
</div>


<script>
document.addEventListener("DOMContentLoaded", function () {
const mobileNav = document.querySelector('.mobile-nav a');
const slidingPanel = document.getElementById('slidingPanel');
const closePanel = document.querySelector('.close-panel');

  function togglePanel() {
    if (slidingPanel.classList.contains('active')) {
      mobileNav.textContent = 'MENU';
      slidingPanel.classList.remove('active');
    } else {
      mobileNav.textContent = 'CLOSE';
      slidingPanel.classList.add('active');
    }
  }

  mobileNav.addEventListener('click', function (event) {
    event.preventDefault();
    togglePanel();
  });

  closePanel.addEventListener('click', function (event) {
    event.preventDefault();
    togglePanel();
  });
});
</script>
