---
const {} = Astro.props;
---

<div class="flex-column mb-3">
    <div class="p1">
        <h1>Transform your Digital marketing</h1>
        <p>Marketing agency from Cork. We are the marketing
         partner of growing and establisghed blah blah blah blah
         blah blah blah blah blah blah blah blah
        </p>
    </div>
    <div class="">
        <iframe width:100% height:300px src="https://www.youtube.com/embed/QQgXTLutn7s?si=RrXIcC34QEJv8eEA" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
    </div>
</div> 