---
const {} = Astro.props;
---

<div class="flex-column video-container">
    <div class="component-video">
        <iframe src="https://www.youtube.com/embed/QQgXTLutn7s?si=RrXIcC34QEJv8eEA" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
    </div>
</div>


<script>
    document.addEventListener('DOMContentLoaded', function() {
      lightbox.option({
        'resizeDuration': 200,
        'wrapAround': true
      });
    });
</script>

