---
const {content} = Astro.props;
---

<div class="d-flex flex-column mb-3">
    <div class="component-service-color-1 border border-primary border-1 rounded"></div>
    <div class="component-service-color-2 border border-primary border-1 rounded"></div>
</div> 

<style>
    .component-service-color-1{
        background-color: blue;
        height:30px;
    }
    
    .component-service-color-2{
        background-color: red;
        height:30px;
    }
    

</style>