---
const {content} = Astro.props;
---

<div class="flex-column">
<div class="p-5 component-service-color-1 border border-1">
    <h1>Email Marketing</h1>
    <p>Grow your business with powerful and highly targeted email marketing campaigns</p>
    <!--<button class="btn-more-info" data-modal="modal-email-marketing">More Info</button>-->
    <!-- Modal Dialog for Email Marketing -->
    <!-- Button trigger modal -->
<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
More Information
</button>
  
  <!-- Modal -->
<div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
    <div class="modal-content">
    <div class="modal-header">
        <h5 class="modal-title" id="staticBackdropLabel">Email Marketing</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            Email is one of the most effective marketing tools for modern businesses. At SWOT Digital, we are highly experienced in creating and managing email marketing campaigns that get right to the heart of the matter – your customer’s inboxes!
            Our precisely targeted campaigns give your business a direct channel to the people that matter – consumers and customers that are precisely chosen to fit the demographic your business appeals to!
        </div>
        <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="p-5 component-service-color-1 border border-1">
    <h1>Social Media Advertising</h1>
    <p>Unlock the power of social media and grow your audience with effective advertising campaigns</p>
    <!--<button class="btn-more-info" data-modal="modal-email-marketing">More Info</button>-->
    <!-- Modal Dialog for Email Marketing -->
    <!-- Button trigger modal -->
<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#staticBackdrop1">
More Information
</button>
  
  <!-- Modal -->
<div class="modal fade" id="staticBackdrop1" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
    <div class="modal-content">
    <div class="modal-header">
        <h5 class="modal-title" id="staticBackdropLabel">Social Media Advertising</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">         
        Social Media’s exponential growth has seen it rise to be an essential factor in any business’s online profile.
        The last few years have seen sites like Facebook, Twitter, YouTube, Instagram and LinkedIn all expand and now feature in the top ten most visited sites in Ireland. At SWOT Digital, we can help you unlock this massive market with engaging Social Media ad campaigns.
        Our expert teams can create and manage Social Media campaigns that are customised to meet your goals and grow your audience.
        Contact us today to find out more about how we can help you grow your social media presence and maximise its effect.
        </div>
        <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
</div>







</div> 

<style>
.component-service-color-1{
       
}   

.component-service-color-2{
  
}   
</style>