---
const {content} = Astro.props;
---

<div class="flex flex-column mb-3 ">
    <div class="p-3 component-service-color-1 border border-primary border-1">
          <h1>B2B</h1>
          <p>Business-to-business is a situation where one business makes a commercial transaction with another</p>
          <a href="">More Info</a>
    </div>

    <div class="p-3 component-service-color-1 border border-primary border-1">
        <h1>B2C</h1>
        <p>Direct-to-consumer or business-to-consumer is the business model of selling products directly to customers</p>
        <a href="">More Info</a>
    </div>
</div> 

<style>
    .component-service-color-1{
        background-color: blue;
    }
    
    .component-service-color-2{
        background-color: red;
    }
    

</style>