---
---
<div class="container-fluid gx-0">
  <div class="row justify-content-center">
    <div class="col-lg-12">
      <!-- Services Wrapper -->
      <div class="component-services-wrapper">
        <!-- Community Marketing Section -->
        <div class="component-service p-5 border border-1 mb-3">
          <p>Community Marketing</pp>
          <p>As a community marketing agency, our mission is to help brands connect with their audiences on a deeper level.</p>
          <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#communityMarketingModal">
            More Information
          </button>
        </div>

        <!-- Community Building Section -->
        <div class="component-service p-5 border border-1 mb-3">
          <h1>Community Building</h1>
          <p>In the ever-evolving landscape of marketing, community building has become a cornerstone for brands aiming to establish deeper connections.</p>
          <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#communityBuildingModal">
            More Information
          </button>
        </div>

        <!-- Social Media Section -->
        <div class="component-service p-5 border border-1 mb-3">
          <h1>Social Media</h1>
          <p>Platforms like Reddit, Quora, and Discord offer unique opportunities for brands to engage with their audiences.</p>
          <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#socialMediaModal">
            More Information
          </button>
        </div>
      </div>
    </div>
  </div>


<!-- Community Marketing Modal -->
<div class="modal fade" id="communityMarketingModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="communityMarketingModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content modal-height">
      <div class="modal-header">
        <h5 class="modal-title" id="communityMarketingModalLabel">Community Marketing</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body" id="communityMarketingContent">
        <div class="modal-page" id="communityMarketingPage1">
          <img src="/inspirado-marketing/images/community-marketing.jpg" class="modal-image" alt="community marketing information"/>
         <div class="modal-text">
          <h2>Benefits</h2>
          <ul>
            <li><span class="list-header">Increased Loyalty:</span> By fostering a sense of belonging, you can cultivate loyal customers.</li>
            <li><span class="list-header">Enhanced Trust:</span> Authentic interactions build trust.</li>
            <li><span class="list-header">Valuable Feedback:</span> Engaged communities provide valuable insights.</li>
            <li><span class="list-header">Organic Growth:</span> Satisfied community members are more likely to share their experiences.</li>
          </ul>
        </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<!-- Community Building Modal -->
<div class="modal fade" id="communityBuildingModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="communityBuildingModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content modal-height">
      <div class="modal-header">
        <h5 class="modal-title" id="communityBuildingModalLabel">Community Building</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body" id="communityBuildingContent">
        <div class="modal-page" id="communityBuildingPage1">
          <img src="/inspirado-marketing/images/community-building.jpg" class="modal-image" alt="community building information"/>
          <div class="modal-text">
           <h2>Benefits</h2>
          <ul>
            <li><span class="list-header">Stronger Brand Loyalty:</span> A well-nurtured community fosters deep emotional connections.</li>
            <li><span class="list-header">Enhanced Customer Insights:</span> Engaged community members provide valuable feedback.</li>
            <li><span class="list-header">Organic Growth:</span> A thriving community generates organic growth.</li>
            <li><span class="list-header">Increased Engagement:</span> Active communities drive higher levels of engagement.</li>
          </ul>
        </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<!-- Social Media Modal -->
<div class="modal fade" id="socialMediaModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="socialMediaModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content modal-height">
      <div class="modal-header">
        <h5 class="modal-title" id="socialMediaModalLabel">Social Media</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body" id="socialMediaContent">
        <div class="modal-page" id="socialMediaPage1">
          <img src="/inspirado-marketing/images/social-media.png" class="modal-image" alt="community social media information"/>
          <div class="modal-text">
           <h2>Benefits</h2>
          <ul>
            <li><span class="list-header">Enhanced Brand Loyalty:</span> Engaged communities foster deep emotional connections.</li>
            <li><span class="list-header">Valuable Customer Insights:</span>  Active communities provide valuable feedback.</li>
            <li><span class="list-header">Organic Growth:</span>  Thriving communities generate organic growth through word-of-mouth.</li>
            <li><span class="list-header">Higher Engagement:</span>  Active participation and real-time interactions drive higher levels of engagement.</li>
          </ul>  
        </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
</div>

<style>
/*main service componenet container*/
.component-services-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 20px; /* Space between the columns */
}

/* Space left over, background positioning */
.component-service {
  position: relative; 
  flex: 1;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  color: white;
  overflow: hidden; /*to prevent overflow*/
  padding: 20px; 

/*transparent overlay*/
.component-service::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7); /* overlay */
  z-index: 1;
}
.component-service * {
  position: relative;
  z-index: 2; <!-- -->
}

/*modal background images*/
.component-service:first-of-type {
  background-image: url('/images/community-marketing.jpg'); 
}
.component-service:nth-of-type(2) {
  background-image: url('/images/community-building.jpg'); 
}
.component-service:nth-of-type(3) {
  background-image: url('/images/social-media.png'); 
}
.modal-page{
  display: flex;
  align-items: flex-start; /* Align items to the start of the container */
  gap: 5px; /* Space between image and text */
}

/*modal image sizing and styling*/
.modal-image {
  flex:1; /*space left over*/
  width:100%; 
  height: 250px; 
  border-radius: 8px; /* rounded corners for the image */
  flex-shrink: 0; /* Prevent image from shrinking */
}
.modal-text {
  flex: 1; /* Allow text to take remaining space */
  line-height: 1.0; 
}
.modal-text h2{
  text-align:center;   
  text-decoration: underline;
  color: #F0F8FF;
}
/*remove padding, list-style and margain*/
.modal-page ul {
  list-style-type: none; 
  padding-left: 0;
  margin: 0;
}
.modal-page li {
  margin-bottom: 10px; /* Space between list items */
}
.modal-page .list-header{
  color:#FFD700;
}
/*modal content relative postioning*/
.modal-content {
  position: relative; 
  color: white;
  border: none;
  width: 100%;
  overflow: hidden; 
}
.modal-content::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7); /* Semi-transparent overlay */
  z-index: 1;
  pointer-events: none; /*prevents blocking*/
}
.modal-body,.modal-footer,.modal-header {
  position: relative;
  z-index: 2;
}
.modal-footer .btn-secondary {
  border: none;
}
/*inverting color for close button top-right of modal*/
.btn-close {
  color: #ffffff;
  background-color: white;
  opacity: 0.75;
  filter: invert(1);
}
.modal-height {
  min-height: 400px; 
}

/*local media query*/
@media (max-width: 992px) {
.component-services-wrapper {
  flex-direction: column;
}
}
</style>
